.game {
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.game.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(60deg) rotateZ(-30deg);
          transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}  
.game.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px #54D194, inset 0 0 60px #54D194;
}

.game.main .circle::before, .game.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20%;
  height: 20%;
  border-radius: 100%;
  background: #54D194;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px #54D194;
  background-size: 100% 100%;
  
}
.game.main .circle::before {
  -webkit-transform: translateZ(-90px);
          transform: translateZ(-90px);
}

.game.main .circle::after {
  -webkit-transform: translateZ(90px);
          transform: translateZ(90px);
}
